---
import NavBar from "../components/layouts/navbar/NavBar.jsx";
import { ClientRouter } from "astro:transitions";
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Pixelar Studio | Diseño y Desarrollo Web</title>
		<ClientRouter />

	</head>
	<main class="bg-gradient-to-r from-red-500 via-black to-blue-600 dark:from-blue-800">
		<NavBar client:load/>

		<slot />
<main class="min-h-screen">
  <div class="grid grid-cols-5 grid-rows-5 gap-4 p-4">
    <div class="row-span-4 bg-blue-200 p-2 flex items-center justify-center">1</div>
    <div class="col-span-5 col-start-1 row-start-5 bg-green-200 p-2 flex items-center justify-center">2</div>
    <div class="row-span-4 col-start-5 row-start-1 bg-red-200 p-2 flex items-center justify-center">3</div>
    <div class="col-span-3 col-start-2 row-start-1 bg-yellow-200 p-2 flex items-center justify-center">4</div>
    <div class="col-span-3 col-start-2 row-start-2 bg-purple-200 p-2 flex items-center justify-center">5</div>
    <div class="col-start-2 row-start-3 bg-pink-200 p-2 flex items-center justify-center">6</div>
    <div class="col-start-3 row-start-3 bg-indigo-200 p-2 flex items-center justify-center">7</div>
    <div class="col-start-4 row-start-3 bg-teal-200 p-2 flex items-center justify-center">8</div>
    <div class="col-span-3 col-start-2 row-start-4 bg-orange-200 p-2 flex items-center justify-center">9</div>
  </div>
</main>

	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
